#div.chat_header
  %p チャットグループが作成されました。

#div.chat_left
  #div.chat_left_contents
    #div.chat_left_contents_top
      #div.chat_left_contents_name
        %p.top tatsuki-nakamura
      #div.icon_cog
        =link_to root_path do
          %i.fas.fa-edit
          %i.fas.fa-cog
    #div.chat_left_contents_bellow
      %p.group_name techcamp
      %p.messages まだメッセージはありません
      #div.next_message
        %p.group_name sampleグループ
        %p.messages aaa
#div.chat_right
  #div.chat_right_contents_top
    %p.group_name techcamp
    %p.edit Edit
    %p.members_name Members: tatsuki-nakamura


  #div.chat_right_contents_bellow
    %p.right_name tatsuki-nakamura
    %span
      %p.created_time 2018/07/07
    %p.right_message sss

  #div.chat_footer
    %form{:action => "#", :method => "post"}
      %input.message_post{:type => "text", :name => "comments" }
    %p.placeholder type a message
    #div.icon_image
      = link_to root_path do
        %i.fa.fa-image
    %p.send send
