#div.header
  %p チャットグループが作成されました。

#div.left
  #div.left__contents
    #div.left__contents--top
      #div.left__contents--name
        %p tatsuki-nakamura
        #div.icon__cog
          =link_to root_path do
            %i.fa.fa-pencil-square-o
            %i.fa.fa-cog
    #div.left__contents--bellow
      #div.left__contents--bellow-group
        %p techcamp
      #div.left__contents--bellow-message
        %p まだメッセージはありません
    #div.left__contents--bellow
      #div.left__contents--bellow-group
        %p sampleグループ
      #div.left__contents--bellow-message
        %p aaa
#div.right
  #div.right__contents
    #div.right__contents--top
      #div.right__contents--top-group
        %p techcamp
      #div.right__contents--top-member
        %p Members: tatsuki-nakamura
      #div.right__contents--top-button
        %p.inline Edit

    #div.right__contents--bellow
      #div.right__contents--bellow-name
        %p tatsuki-nakamura
      #div.right__contents--bellow-time
        %p 2018/07/07
      #div.right__contents--bellow-message
        %p sss

#div.right__footer
  #div.right__footer--message
    %form{:action => "#", :method => "post"}
    #right__footer--message-post
      %input{:type => "text", :name => "comments", placeholder: "type a message" }
  #div.right__footer--icon
    = link_to root_path do
      %i.fa.fa-image
  #div.right__footer--button
    %p send
