.header
  %p チャットグループが作成されました。

.left
  .left__contents
    .left__contents--top
      .left__contents--name
        %p tatsuki-nakamura
          %ul.icon__cog
            %li.list
            =link_to root_path do
              = fa_icon 'pencil-square-o', class: 'icon'
            %li.list
              = fa_icon 'fa-cog', class: 'icon'
    .left__contents--bellow
      .left__contents--bellow-group
        %p techcamp
      .left__contents--bellow-message
        %p まだメッセージはありません
    .left__contents--bellow
      .left__contents--bellow-group
        %p sampleグループ
      .left__contents--bellow-message
        %p aaa
.right
  .right__contents
    .right__contents--top
      .right__contents--top-group
        %p techcamp
      .right__contents--top-member
        %p Members: tatsuki-nakamura
      .right__contents--top-button
        %p.inline Edit

    .right__contents--bellow
      .right__contents--bellow-name
        %p tatsuki-nakamura
      .right__contents--bellow-time
        %p 2018/07/07
      .right__contents--bellow-message
        %p sss

.right__footer
  .right__footer--message
    %form{:action => "#", :method => "post"}
    .right__footer--message-post
      %input{:type => "text", :name => "comments", placeholder: "type a message" }
  .right__footer--icon
    = link_to root_path do
      = fa_icon 'fa-image', class: 'icon'
  .right__footer--button
    %p send
